{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="inner-content" style="padding-left: 0.075%;">
    <div class='row titulo-bg'>
        <div class='col-lg-12'>
            <h2 class="cabecera">Configuraci&oacute;n de Redes</h2>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-12'>
          <h3>Estad&iacute;sticas de red</h3>
      </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-12'>
            <h5>Estad&iacute;sticas de mensajes MQTT</h5>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-6'>
            <p id="cant_mensajes_recibidos">Mensajes Recibidos: {{cant_mensajes_recibidos}}</p>
        </div>
        <div class='col-lg-6'>
            <p id="mensaje_por_minuto">Mensajes/min: {{mensaje_por_minuto}}</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-6'>
            <p id="cant_topicos">Cantidad de topicos: {{cant_topicos}}</p>
        </div>
        <div class='col-lg-6'>
            <p id="cant_topicos_activos">Topicos activos: {{cant_topicos_activos}}</p>
        </div>
    </div>
    <br>
    <div class='row'>  
    <div class="col-lg-12">
        <h5 >Detalles</h5><br>
        <div class='table-responsive-sm'>
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Top&iacute;co</th>
                    <th scope="col">N&uacute;mero de Mensajes</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Mensajes/min</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Ultimo Mensaje</th>
                </tr>
            </thead>
            <tbody class="table-hover" id="cuerpo_tabla">
            {% for topico in topicos %}
                <tr>
                    <td>{{topico.nombre}}</td>
                    <td>{{topico.cant_mensajes}}</td>
                    <td>{% if topico.status %}
                            Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </td>
                    <td>{{topico.mensajes_minuto}}</td>
                    <td class="text-nowrap">{{topico.hora}}</td>
                    <td>{{topico.payload}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        </div>
    </div>
    </div>
    <div class='row'>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="pagination" style="text-align:center;">
        <span class="step-links">
        {% if topicos.has_previous %}
            <a href="?pagina=1">&laquo; primera</a>
            <a href="?pagina={{ topicos.previous_page_number }}">anterior</a>
        {% endif %}
        <span class="current">
            Pagina {{ topicos.number }} de {{ topicos.paginator.num_pages }}
        </span>
        {% if topicos.has_next %}
            <a href="?pagina={{ topicos.next_page_number }}">siguiente</a>
            <a href="?pagina={{ topicos.paginator.num_pages }}">último &raquo;</a>
        {% endif %}
        </span>
        </div>
    </div>
    <div class="col-lg-3"></div>
    </div>
</div>
  
<link href="{% static 'css/RedesApp/configuracion.css' %}" rel="stylesheet">
<script src="{% static 'js/RedesApp/configuracion.js' %}"></script>

{% endblock %}