{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Webapp de control de Smart Gateway">
    <meta name="author" content="Pedro Boll">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <title>HAMACA</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <script defer src="{% static 'js/fontawesome/fa-brands.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/fa-regular.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/fa-solid.js' %}"></script>
    <script src="{% static 'js/fontawesome/fontawesome-all.js' %}"></script>

  </head>

  <body class="text-center" style="background-color:#41474d;">
    <main role="main" class="container">
      <form class="form-signin" method="post">
        {% csrf_token %}
        <img src="{% static 'images/hamaca_logo2.png' %}" alt="HAMACA Logo"  width="200" height="200">
        <br><br>
        <h2 class="h3 mb-3 font-weight-normal">Bienvenido</h2>
        <br>
        <h5>Por favor, Inicie Sesi&oacute;n</h5>
        <br>
        <label for="inputUser" class="sr-only">Usuario</label>
        <div class="input-group">
          <!-- <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span> -->
          <input type="user" id="inputUser" class="form-control" placeholder="usuario" name="username"required autofocus>
        </div>
        <label for="inputPassword" class="sr-only">Contrase&ntilde;a</label>
        <div class="input-group">
          <!-- <span class="input-group-addon" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i></span> -->
          <input type="password" id="inputPassword" class="form-control" placeholder="contrase&ntilde;a" required name="password">
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi&oacute;n</button>
        <br><br><br><br><br><br><br>
      </form>
      <footer class="footer">
        <div class="container">
          <p class="mt-6 mb-6 text-muted">2023 &copy;- Desarrollado por Pedro Luis Boll Lugo</p>
          <p class="mt-6 mb-6 text-muted">Creditos reservados.</p>
        </div>
      </footer>
    </main>

  </body>
</html>